<!DOCTYPE html>
<html>
    <head>
        <title>MEA 2018 Inaugration</title>
    </head>

    <body>
        <div style="width:100%; height:100%;">
            <div>
                <video autoplay style="min-width:100%; max-height:100%; position: absolute; top:0px; left:0px; object-fit:cover;" onended="window.location='/home';">
                    <source src="/images/afterLaunch.mp4" type="video/mp4">
                </video>
            </div>

        </div>
    </body>
</html>