<!DOCTYPE html>
<html>
    <head>
        <title>MEA 2018 Inaugration</title>

        <style type="text/css">
            .myButton {
                -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
                -webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
                box-shadow:inset 0px 39px 0px -24px #e67a73;
                background-color:#e4685d;
                -moz-border-radius:4px;
                -webkit-border-radius:4px;
                border-radius:4px;
                border:1px solid #ffffff;
                display:inline-block;
                cursor:pointer;
                color:#ffffff;
                font-family:Arial;
                font-size:17px;
                padding:6px 15px;
                text-decoration:none;
                text-shadow:0px 1px 0px #b23e35;
            }
            .myButton:hover {
                background-color:#eb675e;
            }
            .myButton:active {
                position:relative;
                top:1px;
            }
            #buttoncontainer{
                position: absolute;
                left:630px;
                top:300px;
            }
        </style>
    </head>

    <body>
        <div style="width:100%; height:100%;">
            <div>
                <video autoplay muted loop style="min-width:100%; max-height:100%; position: absolute; top:0px; left:0px; object-fit:cover;">
                    <source src="/images/fireworks.mp4" type="video/mp4">
                </video>
            </div>

            <div id="buttoncontainer">
                <a href="/afterLaunch" class="myButton">Launch</a>
            </div>
        </div>
    </body>
</html>