   <div class="customBody" [class.loaded]="isLoaded">    
    <div class="container">
        
        <div id="myheading" class="row">
            <div class="col-md-8 col-md-offset-2">
                <a name="home"></a>
                <img src="../../Images/logo.jpg" width="230px" height="109px" style="margin-top: 50px; margin-left: 35%; margin-bottom:20px;" />
                <div class="row"> 
                    <p class="myheading1">MECHANICA | IIT MADRAS</p>
                </div>
                <div id="mydiv1">
                    <p class="myheading2">CAMPUS AMBASSADOR</p>
                    <p class="mybottomline">BECOME THE STAR OF YOUR COLLEGE</p>
                </div>
                
                <div class="col-md-3" style="margin-top: 40px; margin-left: 36%;">
                    <button class="myButton" href="https://www.google.com" >Register</button>
                </div>
            </div>
        </div>

        <div id="myabout" class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="mynormalheading">ABOUT</p>
                <p class="mydata">
                    Mechanica is the technical festival of Mechanical Engineering,
                    presented by Mechanical Engineering Association (MEA),
                    the largest of its kind at IIT Madras. 
                    The fest was started as a humble attempt to strengthen the foundations of mechanical students,
                    and, pave a way for them to understand theory in the context of real life,
                    with a glistening variety of contests and events. 
                </p>
            </div>
        </div>
        
        <div id="myca" class="row">
            <div class="col-md-8 col-md-offset-2">
                    <p class="mynormalheading">Why Become a CA</p>
                    <div class="mydata">
                        The Campus Ambassador Program is a platform for you to improve your communication, 
                        marketing and social skills. 
                        It offers a whole range of activities which give you a hands-on 
                        experience in digital marketing, publicity and event management. The incentives include:
                        
                        <div  class="row" style="text-align:center; margin-top: 20px;">
                        
                        <div class="col-md-4">
                            <img src="../../Images/internship.jpg" width="100px" />
                            <h4>Internship & Passport</h4>
                            
                                <ul style="list-style: none; padding-left: 0px;">
                                    <li style="margin-bottom: 5px;">Top 5 CAs willget free accommodation during Mechanica.</li>
                                    <li>Top 3 CAs stand a chance to win cash prizes worth Rs 5000/-</li>
                                </ul>
                            
                        </div>

                        <div class="col-md-4">
                            <img src="../../Images/certificate.jpg" width="100px" />
                            <h4>Certificate of Appreciation</h4>

                            <ul style="list-style: none; padding-left: 0px;">
                                    <li style="margin-bottom: 5px;">Best CA will be awarded a special certificate of appreciation from HOD.</li>
                            </ul>

                        </div>

                        <div class="col-md-4">
                            <img src="../../Images/rewarded.jpg" width="100px" />
                            <h4>Improve Your Skills</h4>
                            <ul style="list-style: none; padding-left: 0px;">
                                    <li style="margin-bottom: 5px;">The ability to motivate and lead a team.</li>
                                    <li>Excellent Communication and 'People Skills'.</li>
                            </ul>
                        </div>

                        </div>
                    </div>
            </div>
        </div>

        <div id="myrespon" class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="mynormalheading">RESPONSIBILITIES</p>
                <div class="mydata">
                    <ul>
                        <li style="margin-bottom: 10px;">Creating Brand Awareness about MECHANICA 2018 in and around the campus.</li>
                        <li style="margin-bottom: 10px;">Introduce and execute on ground publicity of Mechanica by posters in your campus.</li>
                        <li style="margin-bottom: 10px;">Facilitate two ways communication between Mechanica and your Institution.</li>
                        <li style="margin-bottom: 10px;">Ensure student participation from his/her college  during MECHANICA 2018 at IIT MADRAS.</li>
                        <li style="margin-bottom: 10px;">Share Facebook and Whatsapp posts.</li>
                    </ul>
                </div>
            </div>
        </div>  
        
<!-- Last Div change height -->
        <div id="mynavbar">
            <ul style="list-style-type: none;">
                <li class="navbtn" scrollTo="myheading" duration="1800" offset="100">Home</li>
                <li class="navbtn" scrollTo="myabout" duration="1800" offset="100">About</li>
                <li class="navbtn" scrollTo="myca" duration="1800" offset="100">Why CA</li>
                <li class="navbtn" scrollTo="myrespon" duration="1800" offset="100">Responsibilites</li>
            </ul>
        </div>

        <div id="myfooter">
            <a href="https://www.facebook.com/mechanica.iitm" 
                target="_blank"><i class="fa fa-facebook-square" style="font-size: 36px;"></i>
            </a>
            <a href="https://twitter.com/mechanica_iitm" 
                target="_blank"><i class="fa fa-twitter-square" style="font-size: 36px;"></i>
            </a>
            <a href="https://www.youtube.com/user/mechanicaiitm" 
                target="_blank"><i class="fa fa-youtube-square" style="font-size: 36px;"></i>
            </a>
        </div>
    </div>
</div>
