            .conatiner{
                background-image: url(./assets/back.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
           
            }

            #myfooter a{
                text-decoration: none;
                color: rgb(118, 199, 219);
            }

            i:hover {
                color:red;
            }

            #myfooter a:visited {
                color:rgb(118, 199, 219);
            }

            #mynavbar a{
                text-decoration: none;
                color: inherit;
            }

            #mynavbar a:visited{
                color: inherit;
            }         

            .myheading1{
                text-align:center;
                font-size: 2.4vw;
                color: rgb(17, 7, 104);
            }
            
            .myheading2{
                text-align: center;
                color: rgb(17, 7, 104);
                font-size: 3.7vw;
                background-color: rgba(240, 244, 245, 0.7);
                font-weight: 500;
                border: 3px solid rgb(17, 7, 104);
                /*width: 51.24vw;*/
                margin-bottom: 0px;
            }

            .mybottomline{
                margin-top: 0px;
                font-size: 1.3vw;
                border: 3px solid rgb(17, 7, 104);
                /*width: 51.24vw;*/
                text-align: center;
                background-color: rgb(17, 7, 104);
                color: white;
                letter-spacing: 10px;
            }

            #myheading{
                height: 100vh;
            }

            #mydiv1{
                /*position: relative;*/
                /*left: 20.2vw;*/
                display: block;
                margin-top: 30px;
                /*width: 51.61vw;*/
            }

            #myfooter{
                position: fixed;
                bottom: 0px;
                left: 0vw;
                right: 0vw;
                background-color:rgb(47, 52, 61);
                text-align: center;
                letter-spacing: 20px;
            }

            .mynormalheading{
                font-size: 3vw;
                border: 3px solid rgb(17, 7, 104);
                text-align: center;
                /*width: 51.24vw;*/
                background-color: rgb(17, 7, 104);
                color: white;
                margin-bottom: 0px;
            }

            .mydata{
                font-size: 1.5vw;
                color: rgb(17, 7, 104);
                border: 3px solid rgb(17, 7, 104);
                margin-top: 0px;
                /*padding: 0.73vw;*/
                /*width: 49.78vw;*/
                background-color: rgba(240, 244, 245, 0.7); 
            }
            
            #myabout, #myca{
                /*position: relative;*/
                /*left: 20.2vw;*/
                /*width: 52vw;*/
                height: 100vh;
            }

            #myrespon{
                /*position: relative;*/
                /*left: 20.2vw;*/
                /*width: 52vw;*/
                height: 90vh;
            }

            .myButton {
                /*position: relative;*/
                /*left: 45vw;*/
                /*margin-left: -70px;*/
                margin-bottom: 50px;
                top: 100px;
                background-color:#a73f2d;
                border:1px solid #241d13;
                display:inline-block;
                cursor:pointer;
                color:#ffffff;
                font-size: 18px;
                letter-spacing: 1px;
                padding:9px 40px;
                text-decoration:none;
                text-shadow:0px -1px 0px #7a2a1d;
            }

            .navbtn {
                font-family: Arial;
                color: rgb(17, 7, 104);
                font-size: 1.5vw;
                background: transparent;
                padding: 10px 15px 10px 15px;
                text-decoration: none;
            }

            .navbtn:hover {
                background: rgb(17, 7, 104);
                text-decoration: none;
                color: white;
                cursor: pointer;
            }

            #mynavbar{
                width: 15.37vw;
                text-align: center;
                position:fixed;
                top: 200px;
                right: 5px;
            }
