.body{
    /*background: #55bcc9;*/
	/*--background: url(background.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size: cover;
	background-size: cover;--*/
	color: #fff;
	font-family: 'Ubuntu Condensed', sans-serif;
	line-height: 190%;
	text-align: center;
	margin-top: 10%;
}

.card-container{
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
}

.card{
    position: relative;
    background: rgba(33, 39, 62, 0.6);
    width:250px;
    height: 330px;
    margin:12%;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    transform-style: preserve-3d;
    border: 2px solid white;
}

.card:hover{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.front, .back{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
}

.back{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.front img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 60%;
    backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
}

#eventname{
    position: absolute;
    top:60%;
    width: 100%;
    backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
}

#eventdetail{
    position: absolute;
    top: 83%;
    width: 100%;
    backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
}

#eventdetail1{
    position: absolute;
    width: 100%;
    margin-top: 3%;
    height: auto;
    backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
}

#eventdetail1 h4{
    line-height: 140%;
    backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
}

#register-button{
    position: absolute;
    width: 100%;
    top: 82%;
    backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
}

.detail{
    color: black !important;
    backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
}

.modal-header .close{
    margin-top: -28px;
}

.modal-body{
    text-align: left;
    font-size: 15px;
}

/*Register Button*/

.customButton {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: normal 20px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(255,0,0,0.75);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}